.form-group{
    margin:auto;
    width: 600px;
}
h1{
   font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 85px;
text-align: center;

color: #000000;
padding-bottom: 50px;
}

.formContainer {
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 26px;
}

#formGroupExampleInput{
border-radius: 4px;
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 26px;
background-color: #A74546;
color: #FFFFFF;
}
#exampleFormControlInput1{
 
    border-radius: 4px;
    font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 26px;
background-color: #A74546;
}
#exampleFormControlTextarea1{

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 26px;
border-radius: 4px;
background-color: #A74546;
color: #FFFFFF;
}


.button {
    margin:auto;
    width: 300px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
}

